:root {
    --theme: #191919;
    --primary-color: #242424;
    --secondary-color: #E8E8E8;
    --colorOne: #007AFF;  
    --colorTwo: #FF3A34;
}

* {
    font-family: Verdana;
    outline: none;
}
body {
    background-color: var(--theme);
}

.invincible {
    display: none;
}

.column-div {
    display: flex;
    flex-direction: column;
}
.row-div {
    display: flex;
    flex-direction: row;
}

#login-screen {
    position: relative;
    background-color: var(--theme);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login-input {
    height: 40px;
    width: 220px;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    color: var(--theme);
}
#login-button {
    background-color: var(--colorOne);
    width: 60px;
    color: white;
    border-color: var(--colorOne);
}

#active-users {
    background-color: var(--primary-color);
    width: 250px;
    height: 300px;
    border: 3px solid black;
    overflow: auto;
}
#active-chatrooms {
    width: 250px;
    height: 300px;
    background-color: var(--primary-color);
    border: 3px solid black;
    margin-top: 10px;
    overflow: auto;
}
#chat-panel {
    width: 500px;
    height: 616px;
    border: 3px solid black;
    background-color: var(--primary-color);
    margin-left: 10px;
}
#chat-panel-top {
    height: 535px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#chat-panel-bottom {
    height: 80px;
    border-top: 3px solid black;
}

#chat-text-input {
    position: absolute;
    width: 290px;
    height: 50px;
    margin-left: 15px;
    display: inline;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    margin-top: 13px;
    padding-left: 10px;
}
#emote-table {
    position: absolute;
    margin-left: 315px;
    margin-top: 10px;
}
.custom-button {
    position: absolute;
    height: 50px;
    background-color: var(--colorOne);
    border-color: var(--colorOne);
    border-radius: 100px;
    color: white;
}
#send-button {
    margin-top: 13px;
    margin-left: 435px;
}
#create-chatroom-button {
    height: 30px;
    width: 30px;
    margin-top: 260px;
    margin-left: 210px;
}

td {
    cursor: pointer;
    user-select: none;
}



.active-users-item {
    height: 40px;
    border-bottom: 1px solid var(--secondary-color);
    user-select: none;
    display: flex;
    flex-direction: row;
}
.active-users-item-span {
    color: var(--secondary-color);
    margin-top: 8px;
    margin-left: 7px;
}
.active-users-item:hover {
    filter: brightness(50%);
}


#chat-panel-top h3 {
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}

.message-another-user {
    background-color: var(--colorOne);
    width: 235px;
    border-radius: 10px;
    align-self:flex-start;
    margin: 10px;
}
.message-current-user {
    background-color: var(--colorTwo);
    width: 235px;
    border-radius: 10px;
    align-self: flex-end;
    margin: 10px;
}
.content-div {
    margin: 10px;
    word-wrap: break-word;
    color: white;
}
.selected-chat {
    background-color: var(--colorOne);
}
